.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.env
TODO.md
.tool-versions
circuitpython
.github
requirements.txt
*.vsix
Makefile
scripts
dist
package
