.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.mypy_cache
.env
circup
circup*
TODO.md
.tool-versions
circuitpython
.github
azure-pipelines.yml
build_stubs.py
requirements.txt
*.vsix
native
Makefile
package.sh
new.diff
/scripts